body {
  width: 255px;
  height: 255px;
  display: flex;
  font-size: 14px;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(181, 218, 228);
  align-items: center;
  border-radius: 4px;
  background-image: url(https://i.ytimg.com/vi/OOFGdRmN70k/maxresdefault.jpg);
  background-repeat: no-repeat;
  background-size: 275px 275px;

  color: #ffffff;
  font-family: monospace;
  font-size: 20px;
  font-weight: 800;
}

p {
  background-color: rgba(124, 159, 182, 0.63);
}

button {
  background-color: #4c8bf5;
  color: #ffffff;
  height: 30px;
  line-height: 29px;
  text-align: center;
  width: auto;
  border: 0px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 100px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
}
